.hamburger {
  position: fixed;
  top: 25px;
  right: 50px;
  cursor: pointer;
  z-index: 999;
  border-style: none;
}

.hamburger .line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--color-dark);
  transition: all 0.3s;
}

.hamburger .line1 {
  transform: translateY(-3px);
}

.hamburger .line3 {
  transform: translateY(3px);
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 70% 100%);
  transform: translateX(100%);
  transition: all 0.3s;
  z-index: 998;
}

.nav-list {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
}

.nav-list li {
  transform: translateY(-20%);
  opacity: 0;
  transition: all 0.3s;
}

.nav-list li:not(:last-child) {
  margin-bottom: 40px;
}

.nav-list li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: calc(var(--font-normal) * 1.4);
  color: var(--color-light);
  position: relative;
}

.nav-list li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  bottom: -5px;
  left: 0;
  transition: all 0.3s;
}

.nav-list li a:hover::after {
  width: 100%;
}

.hamburger.clicked .line {
  background-color: var(--color-light);
}

.hamburger.clicked .line1 {
  transform: translateY(3px) rotate(-135deg);
}

.hamburger.clicked .line2 {
  opacity: 0;
}

.hamburger.clicked .line3 {
  transform: translateY(-3px) rotate(135deg);
}

.nav.show {
  transform: translateX(0);
}

.nav.show .nav-list li {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.3s;
}

/* @media (min-width: calc(var(--large-device) + 10px)) { */
@media (min-width: 576px) {
  .nav-list {
    right: 10%;
  }
  .nav-list li a {
    font-size: var(--font-large);
  }
}

@media (min-width: 992px) {
  .nav-list {
    right: 20%;
  }
}
