* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark: #333;
  --color-light: #eee;
  --font-large: 30px;
  --font-primary: 'Century Gothic';
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #eee;
  font-family: var(--font-primary);
}
