.services-container {
  max-width: 80%;
  margin: auto;
}

.services h1 {
  text-align: center;
  padding-bottom: 15px;
  position: relative;
  color: #fff;
  font-size: 40px;
  font-weight: normal;
}

.services h1::before {
  content: '';
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: #565656;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.services h1::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #565656;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
}

.service-cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.service-card {
  flex: 1 1 250px;
  max-width: 250px;
  margin: 30px 15px;
  text-align: center;
  background-color: var(--color-light);
  color: #565656;
  padding: 50px 15px 25px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.service-card .icon-container {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.service-card .icon-container img {
  transform: rotate(-45deg);
  width: 60px;
  height: 60px;
}

.service-card h2 {
  font-size: 20px;
}

.service-card p {
  font-size: var(--font-normal);
  margin: 15px 0 25px;
  line-height: 1.6;
}
